# SMS Configuration
sms_api_url=your_api_key_here
sms_api_key=your_sms_api_key_here
sms_from_number=your_sms_number

# Email Configuration
smtp_server=smtp.gmail.com
smtp_port=587
gmail_username=your_email@gmail.com
gmail_app_password=your_app_password_here

# Database Configuration
POSTGRES_DB=your_database_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_secure_password
DATABASE_URL=postgresql://your_username:your_secure_password@localhost:5433/your_database_name

# RabbitMQ Configuration
RABBITMQ_HOST=your_rabbitmq_host
RABBITMQ_PORT=your_rabbitmq_port
RABBITMQ_USERNAME=your_rabbitmq_username
RABBITMQ_PASSWORD=your_rabbitmq_password
RABBITMQ_VHOST=your_rabbitmq_vhost
RABBITMQ_CONNECTION_ATTEMPTS=3
RABBITMQ_RETRY_DELAY=2.0
RABBITMQ_HEARTBEAT=600
RABBITMQ_MESSAGE_TTL=300000
